
@{
    ViewBag.Title = "SignUp";
    Layout = null;
}

<form action="/NguyenGiaLoc/SignUp" method="POST" class="form" id="form-sign-up">

    <div class="form-line">
        <div class="form-group">
            <label for="Account_ID" class="form-label">Tên đăng nhập</label>
            <input id="id" name="Account_ID" type="text" placeholder="Tên đăng nhập" class="form-control">
        </div>
        <div class="form-group">
            <label for="Name" class="form-label">Họ tên</label>
            <input id="name" name="Name" placeholder="Họ tên" type="text" class="form-control">
        </div>
    </div>

    <div class="form-line">
        <div class="form-group">
            <label for="Pass" class="form-label">Mật khẩu</label>
            <input id="password1" name="Pass" type="password" placeholder="Nhập mật khẩu" class="form-control">
        </div>
    </div>
    <div class="form-line">
        <div class="form-group">
            <label for="Email" class="form-label">Email</label>
            <input id="email1" name="Email" type="email" placeholder="VD: email@domain.com" class="form-control">
        </div>
    </div>

    <div class="form-line">
        <div class="form-group">
            <label for="Gender" class="form-label">Giới tính</label>
            <select id="gender" , name="Gender" class="form-control">
                <option value="Nam">Nam</option>
                <option value="Nữ">Nữ</option>
                <option value="LGBT">LGBT</option>
            </select>
        </div>
    </div>

    <div class="form-line">
        <div class="form-group">
            <label for="Nationality" class="form-label">Quốc tịch</label>
            <select id="nation" name="Nationality" class="form-control">
                <option value="Việt Nam">Việt Nam</option>
                <option value="Thái Lan">Thái Lan</option>
                <option value="Trung Quốc">Trung Quốc</option>
            </select>
        </div>

        <div class="form-group">
            <label for="Hobby" class="form-label">Sở thích</label>
            <input id="hobby" name="Hobby" type="text" placeholder="Sở thích" class="form-control" list="hobbies">
            <datalist id="hobbies">
                <option value="Ẩm thực"></option>
                <option value="Làm đẹp"></option>
                <option value="Thời trang"></option>
            </datalist>
        </div>
    </div>

    <button class="form-submit" id="SignUp">Đăng ký</button>
</form>

