
@{
    ViewBag.Title = "Welcome to Velo";
}

<div class="welcome__feedback-layout">
    <div class="welcome__feedback__card">
        <h4 class="h4">Gabriel & Fiance</h4>
        <p class="welcome__feedback-p">Tôi gặp được vợ chưa cưới của mình trên Velo trong thời gian cách ly vì COVID. Cô ấy đến từ Lafayette, Indiana còn tôi từ Cleveland, Ohio. Chúng tôi đều là tín đồ Cơ đốc giáo và đã rơi vào lưới tình không thể nào gỡ ra được.</p>
    </div>
    <div class="welcome__feedback__card">
        <h4 class="h4">Sean & Marianna Polcha</h4>
        <p class="welcome__feedback-p">Tôi đã nghĩ sẽ chẳng có bất kỳ chuyện gì nghiêm túc bắt đầu từ đó, nhưng đến một ngày tôi vô tình nhìn thấy mỹ nhân này trên ứng dụng. Tôi đã tỏ ý Siêu Thích cô ấy, chi thêm để có lượt Siêu Thích đó!</p>
    </div>
    <div class="welcome__feedback__card">
        <h4 class="h4">Rebecca Lawton</h4>
        <p class="welcome__feedback-p">Anh ấy làm tôi rất khó chịu với một trong những câu bắt chuyện TỒI TỆ NHẤT mà tôi từng thấy, nhưng vì đang buồn chán tại nơi làm việc, tôi quyết định trả lời. Từ lúc đó chúng tôi đã không ngừng trò chuyện, hẹn hò và yêu nhau sâu đậm hơn.</p>
    </div>
</div>
<section class="welcome__description">
    <p>Các bằng hữu độc thân vui vẻ, xin có mấy lời gửi tới các bạn: Nếu bạn đang tìm kiếm người yêu, muốn bắt đầu hẹn hò, hay chỉ đơn giản là muốn có thêm bạn bè, bạn cần có mặt trên Velo. Với hơn 55 tỉ lượt tương hợp được kết nối, Velo chính là nơi để gặp gỡ bạn tương hợp tốt nhất tiếp theo của bạn. Chân thành mà nói, môi trường hẹn hò ngày nay không còn giống như thời các cụ ngày xưa, giờ đây hầu hết mọi người đang gặp gỡ qua mạng xã hội. Với Velo, ứng dụng hẹn hò miễn phí phổ biến nhất trên thế giới, hàng triệu người độc thân tuyệt vời khác luôn nằm trong tầm tay bạn. Không những thế họ luôn sẵn sàng gặp gỡ những người mới như bạn. Dù bạn "thẳng" hay thuộc cộng đồng LGBTQIA, Velo luôn sát cánh nhen nhóm những cơ hội gặp gỡ cho bạn.</p>
    <br />
    <p>Sẽ luôn có thứ gì đó phù hợp cho mọi người trên Velo. Bạn muốn thử tay nghề tán gái? Sẽ là như vậy. Bạn đang cố tìm thêm bạn bè? Khỏi cần nói gì thêm. Bạn mới tới ký túc xá và muốn tận dụng tối đa quãng thời gian học đại học của mình? Velo U sẽ giúp bạn. Velo không phải là trang hẹn hò thường thường bậc trung cho bạn — đó là ứng dụng hẹn hò đa dạng nhất, nơi những con người trưởng thành thuộc mọi tầng lớp xã hội với những trải nghiệm phong phú khác nhau được khuyến khích tạo dựng các kết nối, những kỷ niệm hay cái gì đó tương tự.</p>
</section>