html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: #fff;
}

.chat__info-layout {
}

.chat__info-general {
    margin-top: 24px;
    margin-bottom: 24px;
    position: relative;
    display: flex;
    flex-grow: 1;
    align-items: center;
}

.chat__info-avatar {
    margin-right: 12px;
    margin-left: 8px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
    margin-left: 10px;
}

.chat__info-avatar-border {
    width: 100%;
    height: 100%;
}

.object-info-avatar {
    width: 100%;
    height: 100%;
}

.chat__info-name {
    font-size: 1.1rem;
    font-weight: bold;
    display: block;
    text-align: left;
}

.chat-area {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
}

::-webkit-scrollbar {
    width: 4px;
}

::-webkit-scrollbar-thumb {
    background-color: #fff;
    border-radius: 2px;
}

.chatbox {
    width: 100%;
    height: 90%;
    /*max-height: 400px;*/
    display: flex;
    flex-direction: column;
    overflow: hidden;
    box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);
}

.chat-window {
    flex: auto;
    max-height: 100%;
    background: #fff;
    overflow: auto;
}

.chat-input {
    flex: 0 0 auto;
    height: 40px;
    background: #fff;
    border-top: 1px solid #2671ff;
    box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);
}

    .chat-input input {
        height: 40px;
        line-height: 40px;
        outline: 0 none;
        border: none;
        width: 90%;
        color: black;
        text-indent: 10px;
        font-size: 14px;
        padding: 0;
        background: #fff;
    }

    .chat-input button {
        float: right;
        outline: 0 none;
        border: none;
        background: rgba(255,255,255,.25);
        height: 40px;
        width: 40px;
        border-radius: 50%;
        padding: 3px 0 0 0;
        /*margin: 8px;*/
        transition: all 0.15s ease-in-out;
    }

    .chat-input input[good] + button {
        box-shadow: 0 0 2px rgba(0,0,0,.12),0 2px 4px rgba(0,0,0,.24);
        background: #2671ff;
    }

        .chat-input input[good] + button:hover {
            box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
        }

        .chat-input input[good] + button path {
            fill: white;
        }

.msg-container {
    position: relative;
    display: inline-block;
    width: 100%;
    margin: 0 0 10px 0;
    padding: 0;
}

.msg-box {
    display: flex;
    background: #5b5e6c;
    padding: 10px 10px 0 10px;
    border-radius: 0 6px 6px 0;
    max-width: 80%;
    width: auto;
    float: left;
    box-shadow: 0 0 2px rgba(0,0,0,.12),0 2px 4px rgba(0,0,0,.24);
}

.user-img {
    display: inline-block;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    background: #2671ff;
    margin: 0 10px 10px 0;
}

.flr {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    width: calc(100% - 50px);
}

.messages {
    flex: 1 0 auto;
}

.msg {
    display: inline-block;
    font-size: 11pt;
    line-height: 13pt;
    color: rgba(255,255,255,.7);
    margin: 0 0 4px 0;
}

    .msg:first-of-type {
        margin-top: 8px;
    }

.timestamp {
    color: rgba(0,0,0,.38);
    font-size: 8pt;
    /*margin-bottom: 10px;*/
    position: absolute;
    bottom: -13px;
    left: 6px;
}

.username {
    margin-right: 3px;
}

.posttime {
    margin-left: 3px;
}

.msg-self .msg-box {
    border-radius: 6px 0 0 6px;
    background: #2671ff;
    float: right;
}

/*.msg-self .timestamp {
    float: right;
    left: 0;
    right: 5px;
}*/

.msg-self .user-img {
    margin: 0 0 10px 10px;
}

.msg-self .msg {
    text-align: right;
}

.msg-self .timestamp {
    text-align: right;
    right: 6px;
}
