.welcome__header {
    display: flex;
    width: 100%;
    height: 700px;
    background-image: url('../img/image login.jpg'), radial-gradient(#000, #fff);
    background-size: cover;
    position: relative;
    top: 0;
    opacity: 0.8;
    box-shadow: 0 10px 10px;
}

.welcome__header__navbar {
    width: 100%;
    height: 50px;
    /*position: sticky;
    position: -webkit-sticky;*/
    position: fixed;
    top: 0;
    z-index: 99999999999999;
}

.welcome__header__navbar .navbar.bg-transparent a {
    color: #fff;
}

.welcome__header__navbar .navbar.bg-transparent a:hover {
    color: #337ab7;
}


.welcome__feedback-layout {
    display: flex;
    justify-content: space-evenly;
    margin-top: 25px;
}

@media(max-width: 740px){
    .feedback-layout {
        flex-direction: column;
    }
}

.welcome__feedback__card {
    margin-top: 16px;
    margin-bottom: 16px;
    padding: 12px 16px;
    flex-basis: 30%;
    border-radius: 5px;
    box-shadow: 4px 4px 8px #888888;
}

.welcome__feedback-p {
    font-style: italic;
}

.welcome__description {
    margin: 25px 38px;
    padding: 12px 16px;
    color: var(--text-color);
    box-shadow: 4px 4px 8px #888888;
}

.welcome-footer-fixed-bottom {
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #fff;
    box-shadow: 10px 0 10px;
}

.welcome-footer-policy {
    margin: 0 76.8px;
}

.welcome-footer__p {
    padding: 20px 60px 0;
}

.welcome-footer__btn {
    padding: 8px 60px 20px;
    display: flex;
    justify-content: space-around;
}

.welcome-footer__btn-child {
    border: 2px solid #333;
    border-radius: 20px;
    padding: 5px 20px;
    cursor: pointer;
}

/*.welcome__signup-title {
    position:fixed;
    top: 86px;
    left: 879px;
    display: flex;
    justify-content: space-evenly;
    z-index: 9999;
}

.welcome__isselected {
    position: fixed;
    background-color: red;
    top: 161px;
    left: 824px;
    margin: auto;
    z-index: 9999;
}

.welcome__signup-layout {
    position: fixed;
    top: 240px;
    left: 824px;
    margin: auto;
    z-index: 9999;
}

input[type=password] {
    width: 250px;
}

input[type=date] {
    width: 250px;
}

input[type=text] {
    width: 250px;
}

input[type=submit] {
    background-color: mediumorchid;
    padding: 10px 22px;
    width: 250px;
    margin-top: 8px;
    font-size: 16px;
}*/

/*.logGG {
    margin-top: 8px;
    background-color: #ff4d4d;
    padding: 10px 22px;
    width: 250px;
    font-size: 16px;
}

.logFB {
    margin-top: 8px;
    background-color: deepskyblue;
    padding: 10px 22px;
    width: 250px;
    font-size: 16px;
}*/