
@{
    ViewBag.Title = "Community";
    Layout = null;
}

<head>
    <link href="~/assets/css/base.css" rel="stylesheet" />
    <link href="~/assets/css/Community.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" integrity="sha512-NhSC1YmyruXifcj/KFRWoC561YpHpc5Jtzgvbuzx5VozKpWvQ+4nXhPdFgmx8xqexRcpAglTj9sIBWINXa8x5w==" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="welcome__header">
        <img src="#" alt="logo" />
        <p class="brand">Velo</p>
    </div>
    <div class="container">
        <div class="spacer" style="height: 50px"></div>
        <div class="community-frame">
            <p>
                Chào mừng đến với cộng đồng Velo. Nếu bạn trung thực, tử tế và tôn trọng người khác, bạn sẽ luôn được chào đón ở đây.
                Nếu bạn chọn không tồn tại, bạn có thể không tồn tại. Mục tiêu của chúng tôi là cho phép người dùng tự do thể hiện bản thân miễn là điều đó không làm mất lòng người khác.
                Mọi người đều tuân theo cùng một tiêu chuẩn trên Velo. Chúng tôi yêu cầu bạn cân nhắc, suy nghĩ trước khi hành động và tuân thủ các nguyên tắc cộng đồng của chúng tôi cả trong và ngoài mạng.
                Bạn đã nghe đúng: hành vi ngoại tuyến của bạn có thể dẫn đến việc chấm dứt tài khoản Velo của bạn.
            </p>
            <p>
                Dưới đây là danh sách các chính sách cộng đồng của chúng tôi. Nếu bạn vi phạm bất kỳ chính sách nào trong số này, bạn có thể bị cấm tham gia Velo.
                Nghiêm túc mà nói, đừng bắt chúng tôi phải vuốt sang trái cho bạn — bởi vì sẽ không có việc gì phải làm một khi chúng tôi làm vậy.
                Chúng tôi khuyến khích bạn báo cáo bất kỳ hành vi nào vi phạm chính sách của chúng tôi và đọc các Mẹo An toàn của chúng tôi.
            </p>
        </div>
    </div>
    <div class="velo-important" style="background-color: #fc785a; text-align: center; height: 5rem">
        <h2 style="line-height: 5rem;">Velo không phải là nơi dành cho:</h2>
    </div>
    <div class="container">
        <div class="spacer" style="height:50px"></div>
        <div class="community-frame">
            <p>
                <b>Nội dung khỏa thân / tình dục <br /></b>
                Chúng tôi không yêu cầu bạn chải tóc sang một bên hoặc thậm chí nói cả câu; nhưng hãy giữ nó sang trọng và thích hợp cho tiêu dùng công cộng. Không có ảnh khỏa thân, không có nội dung khiêu dâm và không ghi lại tất cả các ham muốn tình dục của bạn trong tiểu sử của bạn. Giữ nó sạch sẽ.
            </p>
            <p>
                <b>Quấy rối <br /></b>
                Không tham gia hoặc khuyến khích người khác tham gia vào bất kỳ hành vi lạm dụng hoặc quấy rối có chủ đích nào chống lại bất kỳ người dùng nào khác. Điều này bao gồm việc gửi bất kỳ nội dung khiêu dâm không được yêu cầu nào đến các trận đấu của bạn. Các báo cáo về việc theo dõi, đe dọa, bắt nạt hoặc đe dọa được thực hiện rất nghiêm túc.
            </p>
            <p>
                <b>Bạo lực và tổn hại về thể chất <br /></b>
                Chúng tôi không chấp nhận nội dung bạo lực, đồ họa hoặc đẫm máu trên Velo, hoặc bất kỳ hành động hoặc nội dung nào ủng hộ hoặc đe dọa bạo lực dưới bất kỳ hình thức nào, bao gồm cả việc đe dọa hoặc cổ vũ chủ nghĩa khủng bố. Hành hung, cưỡng bức và bất kỳ hành vi bạo lực nào đều bị nghiêm cấm. <br />
                Nội dung ủng hộ hoặc tôn vinh hành vi tự sát hoặc tự làm hại bản thân cũng không được phép. Trong những tình huống này, chúng tôi có thể thực hiện một số bước để hỗ trợ người dùng, bao gồm cả việc liên hệ với các tài nguyên về khủng hoảng.
            </p>
            <p>
                <b>Lời nói căm thù <br /></b>
                Bất kỳ nội dung nào cổ súy, ủng hộ hoặc dung túng phân biệt chủng tộc, cố chấp, thù hận hoặc bạo lực chống lại các cá nhân hoặc nhóm dựa trên các yếu tố như (nhưng không giới hạn) chủng tộc, dân tộc, tôn giáo, khuyết tật, giới tính, tuổi tác, nguồn gốc quốc gia, xu hướng tình dục , hoặc nhận dạng giới tính không được phép.
            </p>
            <p>
                <b>Thông tin cá nhân <br /></b>
                Không phát công khai bất kỳ thông tin cá nhân nào, của bạn hoặc của bất kỳ ai khác. Điều này bao gồm số an sinh xã hội, hộ chiếu, mật khẩu, thông tin tài chính hoặc thông tin liên hệ không công khai, chẳng hạn như số điện thoại, địa chỉ email, địa chỉ nhà riêng / cơ quan.
            </p>
            <p>
                <b>Thư rác <br /></b>
                Đừng giả tạo. Hãy thực sự thay thế. Không sử dụng Velo để hướng mọi người đến các trang web bên ngoài thông qua liên kết hoặc cách khác.
            </p>
            <p>
                <b>Khuyến mại hoặc Gạ gẫm <br /></b>
                Việc lôi kéo người dùng khác bị cấm trên Velo. Bạn có thể mời các đối thủ tham gia một hoạt động nào đó mà bạn đang làm, nhưng nếu mục đích của hồ sơ là quảng cáo sự kiện hoặc doanh nghiệp, tổ chức phi lợi nhuận, chiến dịch chính trị, cuộc thi hoặc để tiến hành nghiên cứu, chúng tôi có thể xóa tài khoản của bạn. Mặc dù chúng tôi rất vui vì bạn sẽ thực hiện một chương trình hài kịch vào tuần tới, nhưng vui lòng không sử dụng Velo để quảng cáo chương trình đó.
            </p>
            <p>
                <b>Mại dâm và buôn người <br /></b>
                Việc quảng bá hoặc vận động cho các dịch vụ tình dục thương mại, buôn bán người hoặc các hành vi tình dục không có sự đồng thuận khác đều bị nghiêm cấm và sẽ dẫn đến việc tài khoản của bạn bị cấm trên Velo.
            </p>
            <p>
                <b>Lừa đảo <br /></b>
                Velo có chính sách không khoan nhượng đối với hành vi săn mồi dưới bất kỳ hình thức nào. Bất kỳ ai cố lấy thông tin cá nhân của người dùng khác cho hoạt động gian lận hoặc bất hợp pháp đều có thể bị cấm. Bất kỳ người dùng nào bị bắt gặp chia sẻ thông tin tài khoản tài chính của riêng họ (PayPal, Venmo, v.v.) với mục đích nhận tiền từ người dùng khác cũng có thể bị cấm khỏi Velo.
            </p>
            <p>
                <b>Mạo danh <br /></b>
                Là chính mình! Đừng giả vờ là người khác. <br />
                Không mạo danh hoặc nói cách khác là xuyên tạc về mối liên kết, kết nối hoặc liên kết với bất kỳ cá nhân hoặc tổ chức nào. Điều này bao gồm các tài khoản nhại lại. Mặc dù chúng tôi cho rằng hồ sơ Mike Pence của bạn rất vui nhộn, nhưng bạn không phải là Mike Pence. Và nếu là bạn, bạn đang làm gì trên Velo?
            </p>
            <p>
                <b>Trẻ vị thành niên <br /></b>
                Bạn phải từ 18 tuổi trở lên để sử dụng Velo. Do đó, chúng tôi không cho phép hình ảnh của trẻ vị thành niên không có người đi kèm. Nếu bạn muốn đăng ảnh của con mình, hãy đảm bảo rằng bạn cũng có trong ảnh. Nếu bạn thấy một hồ sơ có trẻ vị thành niên không có người đi kèm, khuyến khích làm hại trẻ vị thành niên hoặc mô tả trẻ vị thành niên theo cách khiêu dâm hoặc gợi dục, vui lòng báo cáo ngay.
            </p>
            <p>
                <b>Vi phạm Bản quyền và Nhãn hiệu <br /></b>
                Nếu nó không phải của bạn, đừng đăng nó. Nếu hồ sơ Velo của bạn bao gồm bất kỳ tác phẩm nào đã được đăng ký bản quyền hoặc đăng ký nhãn hiệu của người khác, đừng hiển thị nó, trừ khi bạn được phép làm như vậy.
            </p>
            <p>
                <b>Sử dụng bất hợp pháp <br /></b>
                Không sử dụng Velo để làm bất cứ điều gì bất hợp pháp. Nếu đó là IRL bất hợp pháp, thì đó là bất hợp pháp trên Velo.
            </p>
            <p>
                <b>Một người, một tài khoản <br /></b>
                Tài khoản Velo không thể có nhiều chủ sở hữu, vì vậy đừng tạo tài khoản với bạn bè của bạn hoặc người quan trọng khác. Ngoài ra, vui lòng không duy trì nhiều tài khoản Velo.
            </p>
            <p>
                <b>Ứng dụng của bên thứ ba</b>
                Không được phép sử dụng bất kỳ ứng dụng nào được tạo bởi bất kỳ ai không phải Velo yêu cầu cung cấp dịch vụ của chúng tôi hoặc mở khóa các tính năng đặc biệt của Velo (như tự động vuốt).
            </p>
            <p>
                <b>Tình trạng thiếu tài khoản</b>
                Velo rất thú vị khi sử dụng ... mọi lúc! Sử dụng Velo tại hồ, sử dụng Velo trong khi ăn bánh. Sử dụng Velo khi bạn ra ngoài, sử dụng Velo khi nghi ngờ! Tuy nhiên, nếu bạn không đăng nhập vào tài khoản Velo của mình trong 2 năm, chúng tôi có thể xóa tài khoản của bạn do không hoạt động.
            </p>
        </div>
    </div>

</body>