
@{
    ViewBag.Title = "Cookie policy";
    Layout = null;
}
<head>
    <link href="~/assets/css/base.css" rel="stylesheet" />
    <link href="~/assets/css/Community.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" integrity="sha512-NhSC1YmyruXifcj/KFRWoC561YpHpc5Jtzgvbuzx5VozKpWvQ+4nXhPdFgmx8xqexRcpAglTj9sIBWINXa8x5w==" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="welcome__header">
        <img src="#" alt="logo" />
        <p class="brand">Velo</p>
    </div>
    <div class="container">
        <div class="spacer" style="height: 50px"></div>
        <div class="community-frame">
            <h1>Chính sách Cookie</h1>
            <h2>Giới thiệu</h2>
            <p>Velo cam kết bảo vệ quyền riêng tư của bạn. Chúng tôi cố gắng cung cấp những sản phẩm và dịch vụ đáng tin cậy, 
            hàng đầu ngành để bạn có thể tập trung vào việc xây dựng những mối quan hệ có ý nghĩa. Cách tiếp cận quyền riêng tư của chúng tôi là cung cấp cho bạn thông tin 
            rõ ràng về thực hành dữ liệu của chúng tôi. Đó là lý do chúng tôi đã cố gắng giữ biệt ngữ kỹ thuật và pháp lý tới mức tối thiểu.</p>
            <p>Chính sách Cookie này giải thích cookie là gì, loại cookie nào được đặt trên thiết bị của bạn khi bạn vào trang trang web của chúng tôi và cách chúng tôi sử dụng chúng.</p>
            <p>Chính sách Cookie này không đề cập đến cách chúng tôi xử lý thông tin cá nhân của bạn nói chung. Để tìm hiểu thêm về cách chúng tôi xử lý thông tin cá nhân của bạn, 
            vui lòng xem Chính sách Quyền riêng tư của chúng tôi <a href="/Velo/PrivacyPolicy">tại đây.</a> </p>
            <h2>Cookie là gì?</h2>
            <p>Cookie là những tập tin văn bản nhỏ được gửi đến hoặc được truy cập từ trình duyệt web hoặc bộ nhớ của thiết bị. Cookie thường chứa tên miền 
            (vị trí internet) mà từ đó cookie được tạo ra, “tuổi thọ” của cookie (tức là thời điểm cookie hết hạn) và một số duy nhất hoặc số nhận dạng tương tự được 
            ngẫu nhiên tạo ra. Cookie cũng có thể chứa thông tin về thiết bị của bạn, chẳng hạn như những cài đặt người dùng, lịch sử duyệt web và những hoạt động được 
            thực hiện trong khi sử dụng những dịch vụ của chúng tôi.</p>
            <h2>Có loại Cookie nào khác không?</h2>
            <h2>Cookie bên thứ nhất và bên thứ ba</h2>
            <p>Có cookie của bên thứ nhất và cookie của bên thứ ba. Cookie của bên thứ nhất được chúng tôi đặt trên thiết bị của bạn. Ví dụ, chúng tôi 
            sử dụng cookie của bên thứ nhất để điều chỉnh trang web của chúng tôi theo sở thích ngôn ngữ của trình duyệt và để hiểu rõ hơn về việc sử dụng 
            trang web của chúng tôi. Cookie của bên thứ ba được những đối tác và nhà cung cấp dịch vụ của chúng tôi đặt trên thiết bị của bạn. Ví dụ, chúng tôi 
            sử dụng cookie của bên thứ ba để đo lường số người dùng trên trang web của chúng tôi hoặc cho phép bạn chia sẻ nội dung với những người khác trên 
            những nền tảng truyền thông xã hội.</p>
            <h2>Cookie phiên và liên tục</h2>
            <p>Có cookie phiên và cookie liên tục. Cookie phiên chỉ kéo dài cho đến khi bạn đóng trình duyệt. Chúng tôi sử dụng những cookie phiên vì nhiều lý 
            do khác nhau, bao gồm để tìm hiểu thêm về việc bạn sử dụng trang web của chúng tôi trong một phiên trình duyệt duy nhất và giúp bạn sử dụng trang web 
            của chúng tôi hiệu quả hơn. Cookie liên tục có tuổi thọ dài hơn và không bị xóa tự động khi bạn đóng trình duyệt. Các loại cookie này chủ yếu được sử dụng 
            để giúp bạn đăng nhập nhanh vào trang web của chúng tôi và cho những mục đích phân tích.</p>
            <h2>Còn về những công nghệ theo dõi khác, như beacon của trang web thì sao?</h2>
            <p>Các công nghệ khác như beacon của trang web (còn gọi là thẻ điểm ảnh hoặc gif trong suốt), URL theo dõi hoặc những bộ phát triển phần mềm (SDK) được 
            sử dụng cho những mục đích tương tự. Beacon của trang web là những tập tin đồ họa nhỏ chứa một số nhận dạng duy nhất cho phép chúng tôi nhận ra khi ai đó 
            đã vào trang vào dịch vụ của mình hoặc mở một e-mail mà chúng tôi đã gửi cho họ. URL theo dõi là những liên kết được tạo tùy chỉnh giúp chúng tôi hiểu được 
            lưu lượng vào các trang web của chúng tôi đến từ đâu. SDK là những mẩu mã nhỏ bao gồm trong những ứng dụng, có chức năng như cookie và beacon của trang web.</p>
            <p>Để đơn giản, chúng tôi cũng đề cập đến những công nghệ này dưới dạng “cookie” trong Chính sách Cookie này.</p>
            <h2>Chúng ta sử dụng cookie để làm gì?</h2>
            <p>Giống như hầu hết những nhà cung cấp dịch vụ trực tuyến, chúng tôi sử dụng cookie để cung cấp, bảo mật và cải tiến những dịch vụ của chúng tôi, 
            bao gồm ghi nhớ những sở thích của bạn, nhận ra bạn khi bạn vào trang trang web của chúng tôi và cá nhân hóa và điều chỉnh quảng cáo theo sở thích của bạn. 
            Để hoàn thành những mục đích này, chúng tôi cũng có thể liên kết thông tin từ những cookie với thông tin cá nhân khác mà chúng tôi lưu giữ về bạn.</p>
            <p>Khi bạn vào trang trang web của chúng tôi, một số hoặc tất cả những loại cookie sau đây có thể được đặt trên thiết bị của bạn.</p>
            <table border="1" class="classify-cookie">
                <tr>
                    <th class="col-left">Loại cookie</th>
                    <th>Mô tả</th>
                </tr>
                <tr>
                    <td class="col-left"><b>Cookie thiết yếu của trang web</b></td>
                    <td>Các cookie này rất cần thiết để cung cấp cho bạn những dịch vụ có sẵn thông qua trang web của chúng tôi và sử dụng một số tính năng của nó, 
                    chẳng hạn như vào trang vào những khu vực an toàn.</td>
                </tr>
                <tr>
                    <td class="col-left"><b>Cookie Analytics</b></td>
                    <td>Các cookie này giúp chúng tôi hiểu cách trang web của chúng tôi đang được sử dụng, những chiến dịch tiếp thị hiệu quả như thế nào và giúp 
                    chúng tôi tùy biến và cải tiến trang web của chúng tôi cho bạn.</td>
                </tr>
                <tr>
                    <td class="col-left"><b>Cookie quảng cáo</b></td>
                    <td>Các cookie này được sử dụng để tạo những tin nhắn quảng cáo phù hợp hơn cho bạn. Chúng thực hiện những chức năng như ngăn không cho quảng 
                    cáo tương tự xuất hiện lại liên tục, đảm bảo rằng những quảng cáo được hiển thị đúng cho những nhà quảng cáo, chọn quảng cáo dựa trên sở thích của 
                    bạn và đo lường số lượng quảng cáo được hiển thị và hiệu suất của chúng, chẳng hạn như số người đã nhấp vào một quảng cáo nhất định.</td>
                </tr>
                <tr>
                    <td class="col-left"><b>Cookie mạng xã hội</b></td>
                    <td>Các cookie này được sử dụng để cho phép bạn chia sẻ những trang và nội dung mà bạn thấy thú vị trên trang web của chúng tôi thông qua mạng 
                    xã hội của bên thứ ba và những trang web khác. Các cookie này cũng có thể được sử dụng cho mục đích quảng cáo.</td>
                </tr>
            </table>
            <h2>Bạn có thể kiểm soát những cookie như thế nào?</h2>
            <p>Có một số tùy chọn quản lý cookie có sẵn cho bạn. Vui lòng lưu ý rằng những thay đổi mà bạn thực hiện cho những tùy chọn cookie có thể làm cho việc 
            duyệt trang web của chúng tôi kém trải nghiệm thỏa đáng. Trong một số trường hợp, bạn thậm chí có thể nhận thấy mình không thể sử dụng tất cả hoặc một 
            phần trang web của chúng tôi.</p>
            <h2>Kiểm soát trình duyệt và thiết bị</h2>
            <p>Một số trình duyệt web cung cấp những cài đặt cho phép bạn kiểm soát hoặc từ chối cookie hoặc cảnh báo cho bạn khi một cookie được đặt trên máy tính 
            của bạn. Quy trình quản lý cookie hơi khác nhau đối với mỗi trình duyệt internet. Bạn có thể kiểm tra những bước cụ thể trong menu trợ giúp của trình 
            duyệt cụ thể của bạn.</p>
            <p>Bạn cũng có thể đặt lại số nhận dạng thiết bị bằng cách kích hoạt cài đặt thích hợp trên thiết bị di động của mình. Thủ tục quản lý số nhận dạng 
            thiết bị hơi khác nhau đối với từng thiết bị. Bạn có thể kiểm tra những bước cụ thể trong trình đơn trợ giúp hoặc cài đặt của thiết bị cụ thể của bạn.</p>
            <h2>Công cụ quảng cáo dựa trên sở thích</h2>
            <p>Bạn có thể lựa chọn huỷ đăng ký xem quảng cáo dựa trên sở thích trực tuyến từ các công ty tham gia thông qua Liên minh quảng cáo kỹ thuật số, 
            Liên minh quảng cáo kỹ thuật số tương tác hoặc Appchoices (chỉ ứng dụng).</p>
            <p>Việc hủy đăng ký không có nghĩa là bạn sẽ không thấy quảng cáo - mà có nghĩa là bạn sẽ không thấy quảng cáo được cá nhân hóa từ những công ty tham gia 
            vào những chương trình rút lại. Ngoài ra, nếu bạn xóa cookie trên thiết bị của mình sau khi hủy đăng ký, bạn sẽ cần phải hủy đăng ký lần nữa.</p>
            <h2>Cookie xã hội</h2>
            <h2>Stuff Google Muốn Chắc chắn rằng Bạn Biết về Công nghệ Thu thập Dữ liệu của Google</h2>
            <h2>Cookie Google™ Maps API</h2>
            <p>Một số tính năng của trang web của chúng tôi và một số dịch vụ Velo dựa vào việc sử dụng Cookie Google™ Maps API. Các cookie này sẽ được lưu trữ trên 
            thiết bị của bạn.</p>
            <p>Khi duyệt trang web này và sử dụng những dịch vụ dựa vào những cookie của Google™ Maps API, bạn đồng ý với việc lưu trữ, thu thập những cookie đó trên 
            thiết bị của bạn và với việc vào trang, sử dụng cũng như chia sẻ của Google đối với dữ liệu được thu thập đó.</p>
            <p>Google™ quản lý thông tin và các lựa chọn của bạn liên quan đến Google™ Maps API Cookies thông qua giao diện tách biệt với giao diện do trình duyệt của bạn cung cấp. 
            Để biết thêm thông tin, vui lòng xem <a href="https://www.google.com.vn/polaho/technology/cookies/">https://www.google.com.vn/polaho/technology/cookies/</a>.</p>
            <h2>Google Analytics</h2>
            <p>Chúng tôi sử dụng Google Analytics, là một dịch vụ của Google sử dụng cookie và những công nghệ thu thập dữ liệu khác để thu thập thông tin về việc bạn sử dụng trang 
            web và những dịch vụ để báo cáo khuynh hướng trang web.</p>
            <p>Bạn có thể từ chối sử dụng Google Analytics bằng cách truy cập <a href="https://www.google.com.vn/sinstall/ads">https://www.google.com.vn/sinstall/ads</a>.</p>
        </div>
    </div>
</body>