<div class="field" id="message-list">
    <div class="card">
        <div class="card__icon">
            <img class="card__image" src="/assets/img/b1.jpg" />
        </div>
        <div class="card__body">
            <h5 class="card__body__title">Lộc cộc</h5>
            <p>Bạn đã thích abc</p>
        </div>
    </div>
    <div class="card">
        <div class="card__icon">
            <img class="card__image" src="/assets/img/b2.jpg" />
        </div>
        <div class="card__body">
            <h5 class="card__body__title">Tùng hơi ngu</h5>
            <p>Bạn đã thích abc</p>
        </div>
    </div>
</div>
<script>
    $(document).on('click', '#message-list .card', function () {
        $('.scroll-photos-area').html('')
        $.ajax({
            url: "/Velo/Chat",
        }).done(function (rs) {
            $('.scroll-photos-area').append(rs)
        }).fail(function (err) {
            console.log(err)
        })
    })

    $(function () {
        
    })
</script>
