<div class="field">
    <div class="card">
        <div class="card__icon blur-image">
            <img class="card__image" src="/assets/img/b1.jpg" />
        </div>
        <div class="card__body">
            <p>Bạn có thêm một lượt thích mới</p>
        </div>
    </div>
    <div class="card">
        <div class="card__icon blur-image">
            <img class="card__image" src="/assets/img/b2.jpg" />
        </div>
        <div class="card__body">
            <p>Bạn có thêm một lượt thích mới</p>
        </div>
    </div>
</div>
