<div class="scroll-photo__child" @*style="background-color: aqua*@>
    <img class="fullfilled" src="/assets/img/g1.jpg" />
    <div class="photo__detail bg-transparent">
        <h1>Em gái mưa 1<span class="h4">(22)</span></h1>
        <h3>Sở thích: <span>Game</span></h3>
    </div>
</div>
<div class="scroll-photo__child" @*style="background-color: red*@>
    <img class="fullfilled" src="/assets/img/g2.jpg" />
    <div class="photo__detail bg-transparent">
        <h1>Em gái mưa 2<span class="h4">(21)</span></h1>
        <h3>Sở thích: <span>Game</span></h3>
    </div>
</div>
<div class="scroll-photo__child" @*style="background-color: blue*@>
    <img class="fullfilled" src="/assets/img/g3.jpg" />
    <div class="photo__detail bg-transparent">
        <h1>Em gái mưa 3<span class="h4">(20)</span></h1>
        <h3>Sở thích: <span>Game</span></h3>
    </div>
</div>
<div class="scroll-photo__child" @*style="background-color: green*@>
    <img class="fullfilled" src="/assets/img/g4.jpg" />
    <div class="photo__detail">
        <h1>Em gái mưa 4<span class="h4">(19)</span></h1>
        <h3>Sở thích: <span>Game</span></h3>
    </div>
</div>
