
@{
    ViewBag.Title = "Privacy policy";
    Layout = null;
}
<head>
    <link href="~/assets/css/base.css" rel="stylesheet" />
    <link href="~/assets/css/Community.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" integrity="sha512-NhSC1YmyruXifcj/KFRWoC561YpHpc5Jtzgvbuzx5VozKpWvQ+4nXhPdFgmx8xqexRcpAglTj9sIBWINXa8x5w==" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="welcome__header">
        <img src="#" alt="logo" />
        <p class="brand">Velo</p>
    </div>
    <div class="container">
        <div class="spacer" style="height: 50px"></div>
        <div class="community-frame">
            <h1 style="text-align:center">Chính sách về quyền riêng tư</h1>
            <p>Chào mừng bạn đến với Chính sách Quyền riêng tư của Velo. Cảm ơn bạn đã dành thời gian để đọc.</p>
            <p>Chúng tôi đánh giá cao rằng bạn tin tưởng chúng tôi đối với thông tin của bạn và chúng tôi dự định luôn giữ sự tin tưởng đó. Điều này bắt đầu 
            bằng việc đảm bảo bạn hiểu được thông tin mà chúng tôi thu thập, lý do chúng tôi thu thập thông tin, cách sử dụng thông tin đó và những lựa chọn 
            của bạn liên quan đến thông tin của bạn. Chính sách này mô tả những quy tắc thực hành quyền riêng tư của chúng tôi bằng ngôn ngữ đơn giản, giữ cho 
            thuật ngữ pháp lý và kỹ thuật tối thiểu.</p>
            <h2>1. Nơi áp dụng Chính sách Quyền riêng tư này</h2>
            <p>Chính sách Quyền riêng tư này áp dụng cho các trang web, ứng dụng, sự kiện và những dịch vụ khác do Velo điều hành. Để đơn giản, chúng tôi 
            đề cập đến tất cả những vấn đề này như là những “dịch vụ” của chúng tôi trong Chính sách Quyền riêng tư này. Để làm cho nó rõ ràng hơn, chúng tôi 
            đã thêm những liên kết đến Chính sách Quyền riêng tư này trên tất cả những dịch vụ hiện hành.</p>
            <p>Một số dịch vụ có thể yêu cầu chính sách quyền riêng tư riêng duy nhất của chúng. Nếu một dịch vụ cụ thể có chính sách quyền riêng tư riêng 
            thì chính sách đó -- không phải là Chính sách Quyền riêng tư này -- sẽ áp dụng.</p>
            <h2>2. Thông tin chúng tôi thu thập</h2>
            <p>Không cần phải nói, chúng tôi không thể giúp bạn phát triển những mối quan hệ có ý nghĩa mà không có một số thông tin về bạn, chẳng hạn như những 
            chi tiết hồ sơ cơ bản và loại người mà bạn muốn gặp. Chúng tôi cũng thu thập thông tin được tạo khi bạn sử dụng những dịch vụ của chúng tôi, ví dụ 
            như những bản ghi truy cập, cũng như thông tin từ những bên thứ ba, chẳng hạn như khi bạn truy cập những dịch vụ của chúng tôi thông qua tài khoản truyền 
            thông xã hội. Nếu bạn muốn thêm thông tin, chúng ta đi vào chi tiết hơn dưới đây.</p>
            <p><b>Thông tin bạn cung cấp cho chúng tôi</b></p>
            <ul>Bạn quyết định cung cấp cho chúng tôi một số thông tin nhất định khi sử dụng dịch vụ của chúng tôi. Điều này bao gồm:
                <li>Khi bạn tạo tài khoản, bạn cung cấp cho chúng tôi ít nhất những thông tin đăng nhập của bạn, cũng như một số thông tin cơ bản cần thiết cho dịch 
                vụ làm việc, chẳng hạn như giới tính và ngày sinh của bạn.</li>
                <li>Khi bạn hoàn tất hồ sơ, bạn có thể chia sẻ với chúng tôi thông tin bổ sung, chẳng hạn như chi tiết về cá tính, lối sống, sở thích và những chi 
                tiết khác về bạn, cũng như nội dung chẳng hạn như ảnh và video. Để thêm nội dung nhất định, như những hình ảnh hoặc video, bạn có thể cho phép chúng 
                tôi truy cập máy ảnh hoặc album ảnh của bạn. Một số thông tin mà bạn quyết định cung cấp cho chúng tôi có thể được xem là “đặc biệt” hoặc “nhạy cảm” 
                trong những khu vực pháp lý nhất định, ví dụ như nguồn gốc chủng tộc hay dân tộc, khuynh hướng tình dục và niềm tin tôn giáo. Bằng cách quyết định cung 
                cấp thông tin này, bạn đồng ý với việc chúng tôi xử lý thông tin đó.</li>
                <li>Khi bạn đăng ký dịch vụ trả phí hoặc mua hàng trực tiếp từ chúng tôi (thay vì thông qua một nền tảng như iOS hoặc Android), bạn cung cấp cho chúng 
                tôi hoặc nhà cung cấp dịch vụ thanh toán của chúng tôi những thông tin, chẳng hạn như số thẻ ghi nợ hoặc số thẻ tín dụng của bạn hoặc thông tin tài chính khác.</li>
                <li>Khi bạn tham gia những cuộc khảo sát hoặc những nhóm trọng tâm, bạn cung cấp cho chúng tôi những hiểu biết sâu sắc của bạn về những sản phẩm và 
                dịch vụ của chúng tôi, trả lời cho những câu hỏi và lời chứng thực của chúng tôi.</li>
                <li>Khi bạn quyết định tham gia những chương trình quảng cáo, sự kiện hoặc cuộc thi, chúng tôi thu thập thông tin mà bạn sử dụng để đăng ký hoặc nhập.</li>
                <li>Nếu bạn liên lạc với đội chăm sóc khách hàng của chúng tôi, chúng tôi thu thập thông tin mà bạn cung cấp cho chúng tôi trong quá trình tương tác. 
                Đôi khi, chúng tôi theo dõi hoặc ghi lại những tương tác này cho mục đích đào tạo và để đảm bảo chất lượng dịch vụ cao.</li>
                <li>Nếu bạn yêu cầu chúng tôi liên lạc hoặc xử lý thông tin của người khác (ví dụ, nếu bạn yêu cầu chúng tôi gửi email thay mặt bạn cho một trong những 
                bạn bè của bạn), chúng tôi thu thập thông tin về những người khác mà bạn cung cấp cho chúng tôi để hoàn thành yêu cầu của bạn.</li>
                <li>Tất nhiên, chúng tôi cũng xử lý những cuộc trò chuyện của bạn với những người dùng khác cũng như nội dung bạn công bố, như là một phần của sự hoạt động của dịch vụ.</li>
            </ul>
            <p><b>Thông tin chúng tôi nhận được từ những người khác</b></p>
            <p>Ngoài thông tin bạn trực tiếp cung cấp cho chúng tôi, chúng tôi nhận được thông tin về bạn từ những người khác, bao gồm:</p>
            <ul>
                <li>Người dùng khác Những người dùng khác có thể cung cấp thông tin về bạn khi họ sử dụng những dịch vụ của chúng tôi. Ví dụ, chúng tôi có thể thu thập thông 
                tin về bạn từ những người dùng khác nếu họ liên lạc với chúng tôi về bạn.</li>
                <li>Mạng Xã hội Bạn có thể sử dụng thông tin đăng nhập mạng xã hội (chẳng hạn như Thông tin đăng nhập cho Facebook) để tạo và đăng nhập vào tài khoản 
                Velo của mình. Điều này giúp bạn không phải nhớ tên người dùng và mật khẩu khác và cho phép bạn chia sẻ một số thông tin từ tài khoản truyền thông xã 
                hội của bạn với chúng tôi.</li>
                <li>Các đối tác khác Chúng tôi có thể nhận được thông tin về bạn từ những đối tác của mình, ví dụ nơi các quảng cáo Velo được đăng tải trên các trang 
                web và nền tảng của đối tác (trong trường hợp đó họ có thể chuyển những chi tiết về mức độ thành công của chiến dịch).</li>
            </ul>
            <p><b>Thông tin được thu thập khi bạn sử dụng dịch vụ của chúng tôi</b></p>
            <p>Khi bạn sử dụng dịch vụ của chúng tôi, chúng tôi thu thập thông tin về những tính năng bạn đã sử dụng, cách bạn đã sử dụng chúng và những thiết bị bạn sử 
            dụng để truy cập dịch vụ của chúng tôi. Xem dưới đây để biết thêm chi tiết:</p>
            <ul>
                <li>Thông tin về việc Sử dụng Chúng tôi thu thập thông tin về hoạt động của bạn trên những dịch vụ của mình, ví dụ như cách bạn sử dụng chúng (ví dụ, 
                ngày và giờ bạn đăng nhập, các tính năng bạn đã và đang sử dụng, những lượt tìm kiếm, nhấp chuột và trang web đã được hiển thị cho bạn, địa chỉ trang web 
                giới thiệu, quảng cáo mà bạn nhấp vào) và cách bạn tương tác với những người dùng khác (ví dụ, người dùng mà bạn kết nối và tương tác, giờ và ngày bạn 
                tương tác, số lượng tin nhắn bạn gửi và nhận).</li>
                <li>Thông tin thiết bị Chúng tôi thu thập thông tin từ và về (những) thiết bị bạn sử dụng để truy cập vào những dịch vụ của chúng tôi</li>
                <li>Thông tin khác với sự đồng ý của bạn Nếu bạn cho phép, chúng tôi có thể thu thập vị trí địa lý chính xác của bạn (vĩ độ và kinh độ) thông qua nhiều 
                phương tiện khác nhau, tùy thuộc vào dịch vụ và thiết bị bạn đang sử dụng, bao gồm kết nối GPS, Bluetooth hoặc Wi-Fi. Việc thu thập vị trí địa lý của bạn 
                có thể diễn ra ở nền ngay cả khi bạn không sử dụng dịch vụ nếu sự cho phép của bạn dành cho chúng tôi nêu rõ về phép việc thu thập đó. Nếu bạn từ chối cho 
                phép chúng tôi thu thập vị trí địa lý của mình, chúng tôi sẽ không thu thập thông tin đó. Tương tự, nếu bạn đồng ý, chúng tôi có thể thu thập ảnh và video 
                của bạn (ví dụ, nếu bạn muốn đăng tải ảnh, video hoặc streaming trên các dịch vụ).</li>
            </ul>
            <h2>4.Cookie và các Công nghệ Thu thập Dữ liệu Tương tự khác</h2>
            <p>Chúng tôi sử dụng và có thể cho phép những người khác sử dụng cookie và những công nghệ tương tự (ví dụ: web beacon, điểm ảnh) để nhận ra bạn và/hoặc 
            (những) thiết bị của bạn. Bạn có thể đọc <a href="/Velo/CookiePolicy">Chính sách Cookie</a> của chúng tôi để biết thêm thông tin về lý do chúng tôi sử dụng cookie (chẳng hạn như xác thực bạn, 
            ghi nhớ những tùy chọn và cài đặt của bạn, phân tích lưu lượng và xu hướng trang web, phân phối và đo lường tính hiệu quả của những chiến dịch quảng cáo, cho 
            phép bạn sử dụng những tính năng xã hội) và cách bạn có thể kiểm soát tốt hơn việc sử dụng của họ, thông qua cài đặt trình duyệt và những công cụ khác của bạn.</p>
            <p>Một số trình duyệt web (bao gồm cả Safari, Internet Explorer, Firefox và Chrome) có tính năng “Do Not Track” (“ DNT ”, Không Theo dõi) cho trang web biết 
            rằng người dùng không muốn bị theo dõi hoạt động trực tuyến của họ. Nếu một trang web đáp ứng tín hiệu DNT nhận được tín hiệu DNT, trình duyệt có thể chặn trang
            web đó thu thập thông tin nhất định về người dùng của trình duyệt. Không phải tất cả những trình duyệt đều cung cấp tùy chọn DNT và những tín hiệu DNT vẫn chưa 
            thống nhất. Vì lý do này, nhiều doanh nghiệp, bao gồm Velo, hiện không đáp ứng tín hiệu DNT.</p>
            <h2>5. Cách thức chúng tôi sử dụng thông tin</h2>
            <p>Lý do chính mà chúng tôi sử dụng thông tin của bạn là để cung cấp và cải tiến những dịch vụ của chúng tôi. Ngoài ra, chúng tôi sử dụng thông tin của bạn 
            để giúp bạn giữ an toàn và để cung cấp cho bạn quảng cáo mà có thể bạn quan tâm. Đọc tiếp để biết sự giải thích chi tiết hơn về nhiều lý do khác nhau chúng 
            tôi sử dụng thông tin của bạn, cùng với những ví dụ thực tế.</p>
            <p><b>Để quản lý tài khoản của bạn và cung cấp những dịch vụ của chúng tôi cho bạn</b></p>
            <ul>
                <li>Tạo và quản lý tài khoản của bạn</li>
                <li>Cung cấp cho bạn sự hỗ trợ khách hàng và đáp ứng những yêu cầu của bạn</li>
                <li>Hoàn thành những giao dịch của bạn</li>
                <li>Liên lạc với bạn về những dịch vụ của chúng tôi, bao gồm quản lý và thanh toán đơn đặt hàng</li>
            </ul>
            <p><b>Để giúp bạn kết nối với những người dùng khác</b></p>
            <ul>
                <li>Phân tích hồ sơ, hoạt động của bạn trên dịch vụ và các tùy chọn để gợi ý các kết nối có ý nghĩa cho bạn và gợi ý cho bạn các mục khác</li>
                <li>Hiển thị hồ sơ của người dùng với nhau</li>
            </ul>
            <p><b>Để đảm bảo trải nghiệm nhất quán trên những thiết bị của bạn</b></p>
            <p>Liên kết nhiều thiết bị khác nhau mà bạn sử dụng để bạn có thể tận hưởng trải nghiệm nhất quán về những dịch vụ của chúng tôi trên tất cả những thiết bị đó. 
            Chúng tôi thực hiện việc này bằng cách liên kết những thiết bị và dữ liệu trình duyệt, chẳng hạn như khi bạn đăng nhập vào tài khoản của mình trên những thiết 
            bị khác nhau hoặc bằng cách sử dụng địa chỉ IP một phần hoặc toàn bộ, phiên bản trình duyệt và dữ liệu tương tự về những thiết bị của bạn để giúp xác định và 
            liên kết chúng.</p>
            <p><b>Để cung cấp các dịch vụ Velo mới cho bạn</b></p>
            <ul>
                <li>Đăng ký cho bạn và hiển thị hồ sơ của bạn trên các tính năng và ứng dụng của Velo mới</li>
                <li>Quản lý tài khoản của bạn trên các tính năng và ứng dụng mới này</li>
            </ul>
            <p><b>Để cung cấp cho bạn những khuyến mãi và quảng cáo có liên quan</b></p>
            <ul>
                <li>Quản lý những cuộc rút thăm trúng thưởng, cuộc thi, giảm giá hoặc những khuyến mãi khác</li>
                <li>Phát triển, hiển thị và theo dõi nội dung và quảng cáo phù hợp với sở thích của bạn về những dịch vụ của chúng tôi và những trang web khác</li>
                <li>Giao tiếp với bạn bằng email, điện thoại, phương tiện truyền thông xã hội hoặc thiết bị di động về những sản phẩm hoặc dịch vụ mà chúng tôi nghĩ có thể 
                làm bạn quan tâm</li>
            </ul>
            <p><b>Để cải thiện những dịch vụ của chúng tôi và phát triển những dịch vụ mới</b></p>
            <ul>
                <li>Quản lý những nhóm trọng tâm và những cuộc khảo sát</li>
                <li>Tiến hành nghiên cứu và phân tích hành vi của người dùng để cải thiện những dịch vụ và nội dung của chúng tôi (ví dụ, chúng tôi có thể quyết định 
                thay đổi giao diện hoặc thậm chí thay đổi đáng kể một tính năng nhất định dựa trên hành vi của người dùng)</li>
                <li>Phát triển những tính năng và dịch vụ mới (ví dụ, chúng tôi có thể quyết định xây dựng một tính năng dựa trên sở thích mới cho những yêu cầu nhận 
                được từ người dùng).</li>
            </ul>
            <p><b>Để ngăn ngừa, phát hiện và chống gian lận hoặc những hoạt động bất hợp pháp hay trái phép khác</b></p>
            <ul>
                <li>Giải quyết hành vi sai trái đang diễn ra hoặc bị cáo buộc trên và ngoài nền tảng</li>
                <li>Thực hiện phân tích dữ liệu để hiểu rõ hơn và thiết kế những biện pháp đối phó chống lại những hoạt động này</li>
                <li>Lưu giữ dữ liệu liên quan đến hoạt động gian lận để ngăn ngừa tái phát</li>
            </ul>
            <p><b>Để đảm bảo sự tuân hành luật pháp</b></p>
            <ul>
                <li>Tuân hành những yêu cầu pháp lý</li>
                <li>Hỗ trợ thực thi luật pháp</li>
                <li>Thực thi hoặc thực hiện những quyền của chúng tôi, ví dụ như những Điều khoản của chúng tôi</li>
            </ul>
            <p>Để xử lý thông tin của bạn như mô tả ở trên, chúng tôi dựa vào những cơ sở pháp lý sau đây:</p>
            <ul>
                <li>Cung cấp dịch vụ của chúng tôi cho bạn: Hầu hết thời gian, lý do chúng tôi xử lý thông tin của bạn là để thực hiện hợp đồng mà bạn có với chúng tôi. 
                Ví dụ, khi bạn sử dụng dịch vụ của chúng tôi để xây dựng những mối quan hệ có ý nghĩa, chúng tôi sử dụng thông tin của bạn để duy trì tài khoản và hồ sơ 
                của bạn, để giúp những người dùng khác có thể xem được và giới thiệu những người dùng khác cho bạn.</li>
                <li>Lợi ích hợp pháp: Chúng tôi có thể sử dụng thông tin của bạn ở đâu chúng tôi có lợi ích hợp pháp để thực hiện việc đó. Ví dụ, chúng tôi phân tích 
                hành vi của người dùng trên những dịch vụ của chúng tôi để không ngừng nâng cao chất lượng những sản phẩm và dịch vụ của chúng tôi, chúng tôi đưa ra những 
                khuyến mãi mà chúng tôi nghĩ có thể làm bạn quan tâm, và chúng tôi xử lý thông tin cho việc phát hiện gian lận, hành chính và những mục đích pháp lý khác.</li>
                <li>
                    Sự chấp thuận: Thỉnh thoảng, chúng tôi có thể yêu cầu sự chấp thuận của bạn để sử dụng thông tin của bạn vì một số lý do cụ thể. Bạn có thể rút lại 
                    sự chấp thuận của mình bất cứ lúc nào bằng cách liên lạc với chúng tôi theo địa chỉ được cung cấp ở cuối Chính sách Quyền riêng tư này.</li>
            </ul>
            <h2>6.Các quyền của bạn</h2>
            <p>Chúng tôi muốn bạn kiểm soát thông tin của bạn, vì vậy chúng tôi đã cung cấp cho bạn những công cụ sau:</p>
            <ul>
                <li>Các công cụ Truy cập / Cập nhật trong dịch vụ. Các công cụ và cài đặt tài khoản giúp bạn truy cập, chỉnh sửa hoặc xóa thông tin mà bạn đã cung cấp 
                cho chúng tôi và thông tin liên quan trực tiếp đến tài khoản của bạn trong dịch vụ</li>
                <li>Quyền với thiết bị. Các nền tảng di động có hệ thống quyền đối với những loại dữ liệu và thông báo cụ thể của thiết bị, chẳng hạn như dịch vụ danh 
                bạ điện thoại và vị trí cũng như thông báo đẩy. Bạn có thể thay đổi cài đặt của mình trên thiết bị để đồng ý hoặc phản đối việc thu thập thông tin tương 
                ứng hoặc hiển thị những thông báo tương ứng. Tất nhiên, nếu bạn thực hiện điều đó, một số dịch vụ nhất định có thể mất chức năng đầy đủ.</li>
                <li>Xoá. Bạn có thể xóa tài khoản của mình bằng cách sử dụng trực tiếp chức năng tương ứng trên dịch vụ.</li>
            </ul>
            <p>Chúng tôi muốn bạn biết về những quyền riêng tư của bạn. Dưới đây là một vài điểm chính cần ghi nhớ:</p>
            <ul>
                <li>Xem lại thông tin của bạn. Các luật hiện hành về quyền riêng tư có thể cho phép bạn xem lại thông tin cá nhân mà chúng tôi lưu giữ về bạn (tùy theo 
                khu vực pháp lý, điều này có thể được gọi là quyền truy cập, quyền di chuyển hoặc các phiên bản khác của những từ này</li>
                <li>Cập nhật thông tin của bạn.</li>
            </ul>
            <p>Để bảo vệ bạn và bảo vệ tất cả những người dùng của chúng tôi, chúng tôi có thể yêu cầu bạn cung cấp bằng chứng nhận dạng trước khi chúng tôi có thể trả 
            lời những yêu cầu trên.</p>
            <p>Lưu ý rằng chúng tôi có thể từ chối những yêu cầu vì một số lý do nhất định, bao gồm cả việc yêu cầu là bất hợp pháp hoặc việc yêu cầu có thể vi phạm những 
            bí mật thương mại hoặc sở hữu trí tuệ hoặc quyền riêng tư của người dùng khác. Nếu bạn muốn nhận thông tin liên quan đến người dùng khác, chẳng hạn như bản sao 
            của bất cứ tin nhắn nào bạn nhận được từ người đó thông qua dịch vụ của chúng tôi, những người dùng khác sẽ phải liên lạc với Viên chức Phụ trách Quyền riêng tư 
            (Privacy Officer) của chúng tôi để cung cấp sự chấp thuận bằng văn bản của họ trước khi thông tin được công bố.</p>
            <p>Ngoài ra, chúng tôi không thể đáp ứng một số yêu cầu nhất định phản đối việc xử lý thông tin cá nhân, đáng chú ý là những yêu cầu như vậy sẽ không cho phép 
            chúng tôi cung cấp dịch vụ của chúng tôi cho bạn nữa. Ví dụ, chúng tôi không thể cung cấp dịch vụ của chúng tôi nếu chúng tôi không có ngày sinh của bạn.</p>
            <ul>
                <li>Gỡ cài đặt. Bạn có thể ngừng tất cả việc thu thập thông tin qua ứng dụng bằng cách gỡ cài đặt ứng dụng bằng quy trình gỡ cài đặt tiêu chuẩn cho thiết bị 
                của bạn. Nếu bạn gỡ cài đặt ứng dụng khỏi thiết bị di động của mình, số nhận dạng duy nhất liên kết với thiết bị của bạn sẽ tiếp tục được lưu trữ. Nếu bạn 
                cài đặt lại ứng dụng trên cùng một thiết bị di động, chúng tôi sẽ có thể liên kết lại số nhận dạng này với những giao dịch và hoạt động trước đây của bạn.</li>
                <li>Trách nhiệm giải trình. Tại một số nước, kể cả ở Liên minh Châu Âu, bạn có quyền nộp đơn khiếu nại với cơ quan bảo vệ dữ liệu thích hợp nếu bạn có những 
                quan ngại về cách chúng tôi xử lý thông tin cá nhân của bạn. Cơ quan bảo vệ dữ liệu mà bạn có thể gửi đơn khiếu nại có thể là cơ quan của nơi thường trú của 
                bạn, nơi bạn làm việc hoặc nơi chúng tôi được thành lập.</li>
            </ul>
            <h2>7.Quyền riêng tư của trẻ em</h2>
            <p>Các dịch vụ của chúng tôi chỉ giới hạn cho người dùng từ 18 tuổi trở lên. Chúng tôi không cho phép người dùng dưới 18 tuổi lên nền tảng của chúng tôi và 
            chúng tôi không cố ý thu thập thông tin cá nhân từ bất cứ ai dưới 18 tuổi. Nếu bạn nghi ngờ rằng người dùng dưới 18 tuổi, vui lòng sử dụng cơ chế báo cáo có sẵn 
            thông qua dịch vụ.</p>
            <h2>8. Các thay đổi về Chính sách Quyền riêng tư</h2>
            <p>Bởi vì chúng tôi luôn tìm kiếm những phương pháp mới và sáng tạo để giúp bạn xây dựng những những mối quan hệ có ý nghĩa, nên chính sách này có thể thay đổi 
            theo thời gian. Chúng tôi sẽ thông báo cho bạn trước khi bất cứ thay đổi quan trọng nào có hiệu lực để bạn có thời gian xem xét những thay đổi đó.</p>
        </div>
    </div>
</body>