<div class="field">
    <div class="card">
        <div class="card__icon card__icon--love">
            <i class="fas fa-heart"></i>
        </div>
        <div class="card__body">
            <p>bạn đã thích abc</p>
        </div>
    </div>
    <div class="card">
        <div class="card__icon card__icon--love">
            <i class="fas fa-heart"></i>
        </div>
        <div class="card__body">
            <p>bạn đã thích abc</p>
        </div>
    </div>
</div>
